* {
   font-family: 'Slabo 27px', serif !important; 
   text-align: center !important;
}
.row {
    text-align: center !important;
}
body {
    background-image: url("concrete.jpg");
    
    
};

.jumbotron {
    text-align: center;
};

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  };